<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- Set title to current page title -->
        <title><%= current_page.data.title || "Cloudticity HIPAA Documents" %></title>
        <meta name="description" content="Cloudticity provides HIPAA-compliant solutions on the Amazon Web Services Cloud. From patient portals that help with Meangful Use certification to health information exchanges to HIPAA-compliant hosting, Cloudticity is the leading provider of HIPAA solutions on the Amazon Web Services cloud.">
        <!-- Set keyword content to current post keywords data -->
        <meta name="keywords" content="HIPAA, Security, Compliance, Software, Infrastructure, Documentation">
        <meta property="og:description" content="Cloudticity provides HIPAA-compliant solutions on the Amazon Web Services Cloud. From patient portals that help with Meangful Use certification to health information exchanges to HIPAA-compliant hosting, Cloudticity is the leading provider of HIPAA solutions on the Amazon Web Services cloud.">
        <meta property="og:title" content="Cloudticity - HIPAA-compliant solutions on the Amazon Cloud" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://cloudticity.com" />
        <meta property="og:image" content="http://cloudticity.com/images/cloudticity-square.jpg" />
        <meta property="og:locale" content="en_US">
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@Cloudticity" />
        <meta property="twitter:title" content="Cloudticity - HIPAA-compliant solutions on the Amazon Cloud" />
        <meta property="twitter:description" content="Cloudticity provides HIPAA-compliant solutions on the Amazon Web Services Cloud. From patient portals that help with Meangful Use certification to health information exchanges to HIPAA-compliant hosting, Cloudticity is the leading provider of HIPAA solutions on the Amazon Web Services cloud." />
        <meta property="twitter:image" content="/assets/img/logo.svg" />
        <!-- Icons -->
        <link href="/assets/img/favicon.ico" rel="icon" type="image/png" />
        <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
        <%= partial "partials/ga" %>
        <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", "styles", "syntax" %>
    </head>
    <body class="<%= page_classes %>">
        <div class="fixed-bar"></div>
        <%= partial "partials/header" %>
        <div class="cf grid">
            <%= partial "partials/menu" %>
            <section class="content">
                <% current_page.data.sections && current_page.data.sections.each do |include| %>
                    <%= partial "sections/#{include}" %>
                <% end %>
                <%= yield %>
            </section>
        </div>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "all" %>
    </body>
</html>
